# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [7]:
# Your code here:

pokemon.head()

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
pokemon.columns=pokemon.columns.str.replace('.', '_')

/var/folders/jp/yhf41mgn0cdf11bv_9bsyftm0000gn/T/ipykernel_1587/1666786090.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pokemon.columns=pokemon.columns.str.replace('.', '_')

In [6]:
pokemon.columns=pokemon.columns.str.replace(' ', '')

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# Legendarios
pokemon[pokemon['Legendary']==True].describe().T[['mean', 'std']]

                  mean         std
#           470.215385  173.651095
Total       637.384615   60.937389
HP           92.738462   21.722164
Attack      116.676923   30.348037
Defense      99.661538   28.255131
Sp_Atk      122.184615   31.104608
Sp_Def      105.938462   28.827004
Speed       100.184615   22.952323
Generation    3.769231    1.455262

In [11]:
# No Legendarios
pokemon[pokemon['Legendary']==False].describe().T[['mean', 'std']]

                  mean         std
#           353.315646  208.590419
Total       417.213605  106.760417
HP           67.182313   24.808849
Attack       75.669388   30.490153
Defense      71.559184   30.408194
Sp_Atk       68.454422   29.091705
Sp_Def       68.892517   25.669310
Speed        65.455782   27.843038
Generation    3.284354    1.673471

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [12]:
# Your code here:
from scipy.stats import ttest_ind

In [19]:
Legendary = pokemon[pokemon['Legendary']==True]['Total']
NoLegendary = pokemon[pokemon['Legendary']==False]['Total']

In [21]:
ttest_ind(Legendary, NoLegendary)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# Rechamos H0 al ser pvalor<5%.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [22]:
pokemon.head()

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [25]:
# Your code here:

pokemon['Type1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [28]:
# Your code here:
Water = pokemon[pokemon['Type1']=='Water']['Total']
Nowater = pokemon[pokemon['Type1']!='Water']['Total']

In [35]:
print('Water Mean',Water.mean())
print('Nowater Mean',Nowater.mean())
print('Water std',Water.std())
print('Nowater std',Nowater.std())

Water Mean 430.45535714285717
Nowater Mean 435.85901162790697
Water std 113.18826606431458
Nowater std 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [50]:
ttest_ind(Water, Nowater,equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [46]:
# Your code here:
from scipy.stats import ttest_rel

In [47]:
pokemon.head()

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Describe the results of the test in the cell below.

In [48]:
# Your conclusions here:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [56]:
# Your code here:

ttest_rel(pokemon['Sp_Atk'], pokemon['Sp_Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#No rechazamos H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [59]:
# Your code here:
from scipy.stats import ttest_1samp

In [64]:
ttest_1samp(pokemon['Attack'] - pokemon['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [51]:
# Your code here:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

In [53]:
tabla=pd.crosstab(pokemon.Legendary, pokemon['Type1']=='Water')
tabla

Type1      False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [55]:
# Your code here:

ji_dos, pval, dof, ex = chi2_contingency(tabla)
ji_dos, pval, dof, ex

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

# No rechazamos H0